<% include ./partials/header %>

  <div class= 'container'>
    <header class= 'jumbotron'>
      <div class= 'container'>
        <h1>Potluck Recipes</h1>

        <p>
            <a class= 'btn btn-lg btn-primary' href='/recipes/new'>Add A New Recipe</a>
        </p>
    </div>
    </header>

    <div>
      <% recipes.forEach(function(recipe) { %>
        <div class= 'caption'>
          <h2><%= recipe.dish %></h2>
          <h4>Owner: <%=recipe.user ? recipe.user.username : 'Unknown'%></h4>
          <p>
            <a href='/recipes/<%= recipe._id %>' class='btn btn-sm btn-primary'>More Info</a>
          </p>
        </div>
      <% }); %>
    </div>
  </div>
<% include ./partials/footer %>
