<% include partials/header %>

  <div class= 'container'>
    <header class= 'jumbotron'>
      <div class= 'container'>
        <h1>Potluck Recipes</h1>

        <p>
            <a class= 'btn btn-primary btn-large' href='/recipes/new'>Add A New Recipe</a>
        </p>
    </div>
    </header>

    <div>
      <% recipes.forEach(function(recipe) { %>
        <div class= 'caption'>
          <h4><%= recipe.dish %></h4>
          <h4><%= recipe.name %></h4>
          <p>
            <a href='/recipes/<%= recipe._id %>' class='btn btn-primary'>More Info</a>
          </p>
        </div>
      <% }); %>
    </div>
  </div>
<% include partials/footer %>
