<% include partials/header %>

  <div class= 'container'>
    <header class= 'jumbotron'>
      <div class= 'container'>
        <h1>Potluck Recipes</h1>

        <p>
            <a class= 'btn btn-primary btn-large' href='/recipes/new'>Add A New Recipe</a>
        </p>
    </div>
    </header>


    <% recipes.forEach( function(recipes) { %>
      <li>
        <%= recipes.name %>
      </li>
    <% }); %>
  </div>
<% include partials/footer %>
