<meta charset="UTF-8">
<title>Project2</title>
<!__ <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!__ <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
