<% include partials/header %>

<h1>Recipes Page</h1>

<a href='/recipes/new'>Add A New Recipe</a>

<% recipes.forEach( function(recipes) { %>
  <li>
    <%= recipes.name %>
  </li>
<% }); %>

<% include partials/footer %>
